{{#if model.record.id}}
<h1 class="page-header">Editar slide #{{model.record.id}}</h1>
{{else}}
<h1 class="page-header">Adicionar slide</h1>
{{/if}}

<form {{action "save" model.record on="submit"}}>
  <div class="row">
    <div class="col-md-8">

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Data'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>Título*:</label>
              {{input value=model.record.title class="form-control" placeholder="Digite o título do slide aqui..." required="required"}}
            </div>
            <div class="form-group">
              <label>Link*:</label>
              {{input value=model.record.link class="form-control" placeholder="Digite o link do slide aqui..." required="required"}}
            </div>
            <div class="form-group">
              <label>Texto do link*:</label>
              {{input value=model.record.linkText class="form-control" placeholder="Digite o texto do link aqui..." required="required"}}
            </div>

            <div class="form-group">
              <label>imagem*:</label>
              {{image-uploader value=model.record.image}}
            </div>

            <div class="form-group">
              <label>Descrição:</label>
              {{textarea value=model.record.description class="form-control"}}
            </div>

          </fieldset>
        </div>
      </div>

      <div>
        <button class="btn btn-primary">
          <i class="fa fa-save"></i>
          {{t 'Save'}}
        </button>
        <button {{action 'goTo' 'slides.index'}} type="button" class="btn btn-default">
          <i class="fa fa-step-backward"></i>
          Slides
        </button>
      </div>

    </div>
    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.publish.Title'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>
                {{input type="checkbox" checked=model.record.published}} {{t 'form-content-published'}}?
              </label>
              {{#if model.record.publishedAt}}
                <div class="form-group">
                  <strong>Publicado em:</strong> {{moment-format model.record.publishedAt "DD/MM/YYYY h:mm a"}}
                </div>
              {{/if}}
            </div>
          </fieldset>
        </div>
      </div>

    </div>
  </div>
</form>