<br>
<div class="row"><div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  {{#if model.isLoading}}
    {{bootstrap-loading}}
  {{else}}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">{{t 'auth.forgot-password'}}</h1>
      </div>
      <div class="panel-body">
        <form class="form" {{action 'requestPasswordChange' on='submit'}}>
          <div class="form-group">
            <div class="input-group input-group-lg">

              <label class="input-group-addon">{{t 'form-forgot-password-email'}}</label>
              {{input type="email" placeholder=(t "form-placeholder-forgot-password-email") value=model.email required="required" autofocus="true" class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-lg btn-primary" type="submit">{{t 'form-forgot-password-submit'}}</button>
          </div>
        </form>
      </div>
      <div class="panel-footer text-right">

        <div class="login-form-links">
          {{#link-to 'login'}}
            {{t 'Login'}}
          {{/link-to}}
        </div>

      </div>
    </div>

  {{/if}}
</div></div>
