<div class="row contents">

  <!-- Blog Post Content Column -->
  <div class="col-lg-8">

    <div class="actions">
      {{we-action-create-btn 'content' req}}
      {{rss-btn locals=this}}
    </div>

    {{#each data}}
      {{render-record-teaser modelName='content' record=this locals=..}}
      <hr>
    {{else}}
      <p class="contents-empty">Nenhum conteúdo foi encontrado para essa lista.</p>
    {{/each}}

    {{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}

  </div>

  <div class="col-md-4">

    <!-- Blog Search Well -->
    <div class="well">
      <h4>Buscar conteúdo</h4>
      <form action="/content">
        <div class="input-group">
          <input type="text" name="title_contains" class="form-control" value="{{req.query.title_contains}}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
          </button>
          </span>
        </div>
        <!-- /.input-group -->
      </form>
    </div>

  </div>
</div>