<div class="content-box-large">
  <div class="panel-heading">
    <h1>{{t 'auth.change-password'}}</h1>
  </div>
  <div class="panel-body">
    <form {{action "changePassword" model on="submit"}}>
    <fieldset>
      <div class="form-group">
        <label>{{t 'form-change-password-password'}}</label>
        {{input value=model.oldPassword class="form-control" placeholder=(t 'form-placeholder-change-password-password') required="required" type="password"}}
      </div>
      <div class="form-group">
        <label>{{t 'form-change-password-newPassword'}}</label>
        {{input value=model.newPassword class="form-control" placeholder=(t 'form-placeholder-change-password-newPassword') required="required" type="password"}}
      </div>
      <div class="form-group">
        <label>{{t 'form-change-password-rNewPassword'}}</label>
        {{input value=model.rNewPassword class="form-control" placeholder=(t 'form-placeholder-change-password-rNewPassword') required="required" type="password"}}
      </div>
    </fieldset>
    <div>
      <button type="submit" class="btn btn-default">
        <i class="glyphicon glyphicon-floppy-save"></i>
        {{t 'form-change-password-submit'}}
      </button>
    </div>
  </form>
  </div>
</div>